fastapi
uvicorn
langgraph
langchain
langchain-core
langchain-postgres
psycopg-binary
pgvector
pandas
pymupdf
python-dotenv
langchain-google-genai
google-generativeai
loguru
langchain-community
langchain-text-splitters
